<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if notice.present? %>
    <p class="bg-success">
    <%= notice %>
    </p>
    <% end %>
    <% if current_user %>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <h3><small>Signed in as <%= current_user.username %> |
                <%= link_to "Sign Out", signout_path %></small></h3>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <% else %>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav pull-right">
            <li>
              <%= link_to "Sign Up", signup_path %>
            </li>
            <li>
              <%= link_to "Sign In", signin_path %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <% end %>
    <div class="jumbotron">
      <h1><%= link_to "g", root_path, class: "navbar-brand" %> | Reddit</h1>
    </div>
    <div class="content">
    <%= yield %>

    </div>

  </div>

</body>
</html>
